/ABOUT-NLS
Makefile
Makefile.in
*/Makefile.in
*/Makefile
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.[ao]
*~
\#*
.\#*
src/freeqd
src/system_monitor
tests/check_basic
tests/check_basic.log
tests/check_basic.trs
tests/test-suite.log
freeqd
freeql
stest
system_monitor
check_basic
check_basic.log
check_basic.trs
check_msgpack
check_msgpack.log
check_msgpack.trs
control
TAGS
ca